<form [formGroup]="form" class="form-feedback-unit">
    <ng-content></ng-content>
    <div *ngIf="!isOnlyFeedback" [ngClass]="{error: form.get('rating')?.invalid && form.get('rating')?.touched}">
        <mat-radio-group class="radio-group" formControlName="rating" >
        <span style="margin-right: 10px">Not at all</span>
        <mat-radio-button class="radio-button"  [value]="rate" *ngFor="let rate of ratings" [disabled]="disabled || !!beforeEditable">
            <span class="radio-button-label" >{{(rate)}}</span>
        </mat-radio-button>
        <span>Perfectly</span>
        </mat-radio-group>
    </div>
    <ng-container *ngIf="!isOnlyRating">
        <app-feedback-unit-collector
            [currentPrinciple]="currentPrinciple"
            [removable]="$any(this.form.get('feedbackForms')).controls.length !== 1"
            [currentIndex]="i"
            [isOpen]="i === $any(this.form.get('feedbackForms')).controls.length - 1"
            (clickRemoveButton)="removeFeedbackUnit(i)"
            [disabled]="disabled || (!!beforeEditable && i < beforeEditable)"
            *ngFor="let control of $any(this.form.get('feedbackForms')).controls; let i = index"
            [form]="control"
        ></app-feedback-unit-collector>
        <div>
            <button
                style="margin-top: 10px"
                [disabled]="disabled"
                mat-flat-button color="primary"
                (click)="createNewFeedbackUnit()"
            >+ Add another explanation</button>
        </div>
    </ng-container>
    <div fxLayout fxLayoutAlign="end" *ngIf="!disabled">
        <button (click)="onNextClick($event)" mat-flat-button class="flex-item primary" color="primary">
          Next
        </button>
    </div>
  </form>