<div class="container">

  <div gdColumn class="option-container">
    <h4>Project: {{currentIndex + 1}}</h4>
    <h4>Designs</h4>
    <div *ngIf="currentDesigns; let designs" gdColumns="1fr 1fr">
      <div>
        <mat-spinner *ngIf="firstImageLoading" ></mat-spinner>
        <img 
          *ngIf="currentImages && currentImages[0]"
          [hidden]="firstImageLoading" 
          (load)="onFirstImageLoad()" src="{{ currentImages[0].url }}" />
      </div>
      <div>
        <mat-spinner *ngIf="secondImageLoading && currentStep >= 2" ></mat-spinner>
        <img
          (load)="onSecondImageLoad()"
          [hidden]="secondImageLoading" 
          *ngIf="currentImages && currentImages[1] && currentStep >= 2" [src]="currentImages[1].url"/>
      </div>
    </div>
    <div>

    </div>
    <div gdColumns="1fr 1fr" *ngIf="firstDesignForm">
      <div *ngIf="currentStep >= 1" [ngClass]="{'highlight-section': currentStep === 1 || currentStep === 3}">
        <app-step
          [currentPrinciple]="currentPrinciple"
          [disabled]="currentStep !== 1 && currentStep !== 3"
          [beforeEditable]="firstFormBeforeIndexEditable"
          (clickNext)="onNextClick()"
          [form]="firstDesignForm">
          <h2>Step 1</h2>
          <h4 class="instruction">Please rate how well the design follows the principle of {{currentPrinciple | titlecase}}</h4>
        </app-step>
      </div>
      <div *ngIf="currentStep >= 2" >
        <div [ngClass]="{'highlight-section': currentStep === 2}">
          <app-step
            [currentPrinciple]="currentPrinciple"
            (clickNext)="onNextClick()"
            [form]="secondDesignForm"
            [isOnlyRating]="true"
            [disabled]="currentStep > 2">
            <h2>Step 2</h2>
            <h4 class="instruction">Please rate how well the design follows the principle of {{currentPrinciple | titlecase}}</h4>
          </app-step>
        </div>
        <div *ngIf="currentStep >= 3" class="form-feedback-unit">
          <h2>Step 3</h2>
          <h4 class="instruction">
            Now observe the revised poster, do you think the designer got a similar feedback you wrote at the first place?
            If not, what feedback do you think the designer got that led to the revised design?
          </h4>
        </div>
        <div class="form-feedback-unit" *ngIf="currentStep >= 4" [ngClass]="{'highlight-section': currentStep === 3}">
          <h2>Step 4</h2>
          <form [formGroup]="thirdDesignForm">
            <h4 class="instruction">Now observe the before and after posters, does the revised poster addresses the issue you wrote for the initial poster</h4>
            <div class="radio-group">
              <mat-slide-toggle
                [formControl]="control"
                [disabled]="currentStep !== 4"
                class="radio-button"
                *ngFor="
                  let control of $any(thirdDesignForm.get('addressed')).controls; let i = index;
                "
              >
                #{{i + 1}}
              </mat-slide-toggle>
            </div>
          </form>
          <div fxLayout fxLayoutAlign="end" *ngIf="currentStep === 4">
            <button
              (click)="onNextClick()"
              mat-stroked-button
              class="flex-item primary"
            >
              Next
            </button>
          </div>
        </div>
      </div>
      

    </div>


  </div>
  <div gdColumn class="pagniation-container">
    <h4>All projects</h4>
    <div fxLayout="row wrap" width="100%">
      <div 
        [ngClass]="{
          'current-item': currentIndex === i,
          'finished-item': userMetadata && projects ? userMetadata.ratedProjects[project._id] : undefined
        }"
        fxFlex="30px" 
        *ngFor="let project of projects; let i = index" class="item" (click)="changeCurrentIndex(i)">
        
        <span>{{i + 1}}</span></div>
    </div>
</div>
</div>