

<mat-toolbar color="primary" class="toolbar">
  <span>Design Gallery</span>
  <span fxFlex="1 1 auto"></span>
  <div fxFlexLayout="row" fxLayoutAlign="space-evenly">
    <button mat-button>All Projects</button>
    <button mat-button>My Favorite</button>
    <button mat-button>My Projects</button>
  </div>
</mat-toolbar>
<div class="filters">
  <div class="nav-title">Design principles</div>
  <div *ngFor="let principle of designPrinciples">
    <mat-expansion-panel [class.mat-elevation-z0]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{principle | titlecase}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="">
        <label class="form-check-label" >
          View improved examples
        </label>
      </div>
      <hr/>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="">
        <label class="form-check-label" >
          Addresses the design brief
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="">
        <label class="form-check-label" >
          Simple clear message
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="">
        <label class="form-check-label" >
          Wrong audience
        </label>
      </div>
    </mat-expansion-panel>
  </div>
    <div class="nav-title">Descriptors</div>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Categories
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="form-check" *ngFor="let filter of categoryFilters">
        <input class="form-check-input" type="checkbox" value="" id="category-{{filter}}" (change)="categoryChange($event, filter)">
        <label class="form-check-label" for="category-{{filter}}">
          {{filter}}
        </label>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Text Proportion
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="form-check" *ngFor="let filter of textProportion; let i = index" >
        <input class="form-check-input" type="checkbox" value="" id="amountOfText-{{filter}}" (change)="amountOfTextChange($event, i)">
        <label class="form-check-label" for="amountOfText-{{filter}}">
          {{filter}}
        </label>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [class.mat-elevation-z0]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Color
        </mat-panel-title>
      </mat-expansion-panel-header>
      <color-twitter disableAlpha="true" width="270" triangle="hide"></color-twitter>
    </mat-expansion-panel>

</div>
<div>
  <span>Applied Filters</span>
</div>
<div
  gdColumns="300px 1fr"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
  class="projects-page">
  <div></div>
  <div
    gdColumns.gt-lg="1fr 1fr 1fr"
    gdColumns.lg="1fr 1fr 1fr"
    gdColumns.md="1fr 1fr"
    gdGap="70px" 
    class="projects-container">
    <div *ngFor="let project of projects" gdColumn>
      <app-project-card [project]="project"></app-project-card>
    </div>
  </div>
</div>

