

<mat-toolbar color="primary" class="toolbar">
  <span [routerLink]="'/gallery'">Design Gallery</span>
  <span fxFlex="1 1 auto"></span>
  <div fxFlexLayout="row" fxLayoutAlign="space-evenly">
<!--     <button mat-button>All Projects</button> -->
    <!-- <button mat-button [routerLink]="['/gallery/replay']">My Replay</button> -->
    <button mat-button [matBadge]="currentSavedProjectNumber$ | async" matBadgeOverlap matBadgeColor="warn" [routerLink]="['/gallery/my-favorite']">My Favorites</button>
    <button mat-button (click)="sidenav.open()">My Reflection</button>
  </div>
</mat-toolbar>
<mat-sidenav-container>

<mat-sidenav 
  #sidenav
  gdColumns="1fr"
  mode="push"
  position="end"
  class="sidenav">
  
  <div class="container">
        
    <div class="reflection-title">My Reflection</div>
    <div><img width="100%" src="http://crowdsight.web.engr.illinois.edu/interpretation/design/s3_p2_v2_d13_flye.png"/></div>
  

    <div class="side-section" style="margin-top: 20px; text-align: center;">
        <table style="text-align: right;" width="100%">
          <tr style="text-align: center">
            <td></td>
            <td>My Ratings</td>
            <td>Potential Issues</td>
          </tr>
          <tr><td>Appropriateness</td>
              <td>&nbsp;&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>
              </td>

            </tr>
          <tr><td>Emphasis</td>
              <td>&nbsp;&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </td>
              <td style="text-align: left">
                <ul>
                  <li>Contains distracting elements</li>
                  <li>Improper font effect</li>
                </ul>
              </td>
            </tr>
          <tr><td>Hierarchy</td>
            <td>&nbsp;&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </td>
              </tr>
          <tr><td>Alignment</td>
          <td>&nbsp;&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>
              </td></tr>
          <tr><td>Consistency</td>
          <td>&nbsp;&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </td>
              <td>
              </td></tr>
          <tr><td>Readability</td>
          <td>&nbsp;&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </td>
              <td style="text-align: left">
                <ul>
                  <li>Poor contrast between elements</li>
                </ul>
              </td></tr>
        </table>
   
     </div>    

     <div class="side-section" style="margin-top: 20px">
        <div class="reflection-subtitle">Principle(s) that were executed well in my design.</div>
        <div style="text-align: left">I think my design delivers a clear message that this is a Jazz concert and it happens at night. I also believe that the yellow text gows pretty well with the blue background. All the information is easy to read due to the high contrast. </div>
      
     </div>    



</div>


</mat-sidenav>
<mat-sidenav-content>
  <router-outlet></router-outlet>

</mat-sidenav-content>
</mat-sidenav-container>
