
  
  
  
      <div class="filters">
      <div class="filter-title">Apply Filters</div>
      <div class="filter-header">  
        <div class="sub-title">Filter by Design Critiques</div>
        <div class="sub-description">
           Find projects that receive the following critiques on the initial draft.
        </div>
      </div>
      <div *ngFor="let principle of designPrinciples">
        <mat-expansion-panel [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{principle | titlecase}}
            </mat-panel-title>
          </mat-expansion-panel-header>
  <!--         <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" >
              View improved examples
            </label>
     
          <hr/>
        <div/> --->
          <div [ngSwitch]="principle">
            <div *ngSwitchCase="'APPROPRIATENESS'">
              <div class="form-check" *ngFor="let item of appropriatenessSubtopics">
                <input class="form-check-input" type="checkbox" value="item" (change)="subaspectChange($event, item)">
                <label class="form-check-label" >
                 {{item}}
                </label>
              </div>
            </div>
            <div *ngSwitchCase="'CONSISTENCY'">
              <div class="form-check" *ngFor="let item of consistencySubtopics">
                <input class="form-check-input" type="checkbox" value="item" (change)="subaspectChange($event, item)">
                <label class="form-check-label" >
                 {{item}}
                </label>
              </div>
            </div>
            <div *ngSwitchCase="'HIERARCHY'">
              <div class="form-check" *ngFor="let item of hierarchySubtopics">
                <input class="form-check-input" type="checkbox" value="item" (change)="subaspectChange($event, item)">
                <label class="form-check-label" >
                 {{item}}
                </label>
              </div>
            </div>
            <div *ngSwitchCase="'EMPHASIS'">
              <div class="form-check" *ngFor="let item of emphasisSubtopics">
                <input class="form-check-input" type="checkbox" value="item" (change)="subaspectChange($event, item)">
                <label class="form-check-label" >
                 {{item}}
                </label>
              </div>
            </div>
            <div *ngSwitchCase="'READABILITY'">
              <div class="form-check" *ngFor="let item of readabilitySubtopics">
                <input class="form-check-input" type="checkbox" value="item" (change)="subaspectChange($event, item)">
                <label class="form-check-label" >
                 {{item}}
                </label>
              </div>
            </div>
            <div *ngSwitchCase="'ALIGNMENT'">
              <div class="form-check" *ngFor="let item of alignmentSubtopics">
                <input class="form-check-input" type="checkbox" value="item" (change)="subaspectChange($event, item)">
                <label class="form-check-label" >
                 {{item}}
                </label>
              </div>
            </div>
          </div>
  
        </mat-expansion-panel>
      </div>
      <div class="filter-header">
        <div class="sub-title">Filter by Design Attributes </div>
        <div class="sub-description">
          What project contents would you like to see more of?
        </div>
      </div>
        <mat-expansion-panel [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Sources
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="form-check" *ngFor="let filter of sourceFilters">
            <input class="form-check-input" type="checkbox" value="" id="category-{{filter}}" (change)="sourceChange($event, filter)">
            <label class="form-check-label" for="category-{{filter}}">
              {{ sourceDict[filter] }}
            </label>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Text Proportion
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="form-check" *ngFor="let filter of textProportion; let i = index" >
            <input class="form-check-input" type="checkbox" value="" id="amountOfText-{{filter}}" (change)="amountOfTextChange($event, i)">
            <label class="form-check-label" for="amountOfText-{{filter}}">
              {{ filter }}
            </label>
          </div>
        </mat-expansion-panel>
       <!--  <mat-expansion-panel [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Text Quantity
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="form-check" *ngFor="let filter of textQuantity; let i = index" >
            <input class="form-check-input" type="checkbox" value="" id="textQuantity-{{filter}}" (change)="textQuantityChange($event, i)">
            <label class="form-check-label" for="textQuantity-{{filter}}">
              {{ filter }}
            </label>
          </div>
        </mat-expansion-panel> -->
        <mat-expansion-panel [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Dominant Color
            </mat-panel-title>
          </mat-expansion-panel-header>
          <color-twitter 
            [colors]="colors"
            disableAlpha="true"
            (colorChange)="changeColor($event)"
            width="270"
            triangle="hide">
          </color-twitter>
        </mat-expansion-panel>
        <mat-expansion-panel [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Image Usage
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="form-check" *ngFor="let filter of imageUsage; let i = index" >
            <input class="form-check-input" type="checkbox" value="" id="imageUsage-{{filter}}" (change)="imageUsageChange($event, filter)">
            <label class="form-check-label" for="imageUsage-{{filter}}">
              {{ filter | titlecase }}
            </label>
          </div>
        </mat-expansion-panel>
    </div>
    
    <div
      gdColumns="300px 1fr"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="150"
      (scrolled)="onScroll()"
      class="projects-page">
      <div></div>
      <div class="projects-container">
        <div class="applied-filters" gdColumns="140px 1fr" gdGap="50px">
          <span>Applied Filters</span>
          <mat-chip-list>
            <mat-chip *ngFor="let tag of currentFilters">
              {{tag}}
            </mat-chip>
          </mat-chip-list>
  
        </div>
  
        <!--0831 <div class="applied-filters" gdColumns="140px 300px 100px 250px">
          <span>Sort by</span>
          <mat-select [value]="'FDQ'">
            <mat-option [value]="'FDQ'">Final design quality</mat-option>
            <mat-option [value]="'DOI'">Degree of improvement</mat-option>
          </mat-select>
          <span>On</span>
          <mat-select [value]="'None'">
            <mat-option [value]="'None'">-- Select a principle --</mat-option>
            <mat-option *ngFor="let item of designPrinciplesWithOverall" [value]="item | titlecase">
              {{item | titlecase}}
            </mat-option>
          </mat-select>
  
        </div> -->
        <hr/>
        <div 
          gdColumns.gt-lg="1fr 1fr 1fr"
          gdColumns.lg="1fr 1fr 1fr"
          gdColumns.md="1fr 1fr"
          gdGap="70px" >
        <div *ngFor="let project of projects" gdColumn>
          <app-project-card [project]="project" [selectedSubaspects]="selectedSubaspects"></app-project-card>
        </div>
        </div>
    
      </div>
    </div>
    <router-outlet></router-outlet>
